
.David{
position: absolute;
padding: 0;
width: 420px;
height: 168px;
left: -5px;
top: 570px;
font-family: Fira Mono;
font-style: normal;
font-weight: bold;
font-size: 150px;
line-height: 168px;
display: flex;
align-items: center;
color: #FFFFFF;
transform: rotate(-90deg);
}
.Bowie {
position: absolute;
padding: 0;
width: 420px;
height: 168px;
left: -5px;
top: 105px;
font-family: Fira Mono;
font-style: normal;
font-weight: bold;
font-size: 150px;
line-height: 168px;
display: flex;
align-items: center;
color: #FFFFFF;
transform: rotate(-90deg);
}


.un {
position: absolute;
width: 159px;
height: 158px;
left: 5px;
top: 5px;
font-family: Fira Mono;
font-style: normal;
font-weight: bold;
font-size: 132px;
line-height: 158px;
display: flex;
align-items: center;
color: #E927BE;
}

.verse {
position: absolute;
width: 396px;
height: 158px;
left: 257px;
top: 5px;
font-family: Fira Mono;
font-style: normal;
font-weight: bold;
font-size: 132px;
line-height: 158px;
display: flex;
align-items: center;
color: #E927BE;
}

.DBgif{
    position: absolute;
    right: 0px;
    top: 140px;
  }

#menu {
    position: absolute;
    width: 616px;
    height: 218px;
    left: 25px;
    top: 320px;
    font-family: Fira Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 16.5px;
    line-height: 17px;
    display: flex;
    align-items: center;  
    max-width: 300px;
    justify-content: space-around;
  }
  
#menu li {
    list-style-type: none; 
   }

#menu a {
    color: #E927BE !important;
    text-decoration: none
  }
#menu a:hover {
    border-bottom: 1.5px dashed #E927BE ; 
   }

   h2 {
    margin-top: 850px;
    word-spacing: 10px;
    margin-left: 150px;
    color: #E927BE;
    max-width: 450px;
    padding: 8px;
    font-size: 40px;
   }
   h3 {
    margin-top: -15px;
    word-spacing: 10px;
    margin-left: 150px;
    color: #E927BE;
    max-width: 450px;
    padding: 8px;
    font-size: 40px;
   }
   h4 {
    margin-top: -15px;
    word-spacing: 10px;
    margin-left: 150px;
    color: #E927BE;
    max-width: 650px;
    padding: 7px;
    font-size: 40px;
   }
#text{
  margin-top: -30px;
  max-width: 1100px;
  margin-left: 245px;
  color:#FFFFFF;
  text-align: justify;
}
#text p{
  margin-top: -2px;
  color:#FFFFFF;
  text-align: justify;
  border-left: 1.5px dashed #E927BE;
  padding: 6px;
}

#top {
  margin: auto;
  font-family: Fira Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 17px;
    padding: 20px;
    display: flex;
    align-items: center;  
    max-width: 300px;
    justify-content: space-around;
}
#top a{
  color: #E927BE !important;
  text-decoration: none
}
#top a:hover {
  padding: 5px;
  border-bottom: 1.5px dashed #E927BE ; 
 }

.FW{
position: relative;
width: 1400px;
height: 120px;
top: 10px;
background: #F24FD8;
margin: 0 auto;
}

.FL{
  position: absolute;
  width: 250px;
  height: 28px;
  left: 845px;
  top: 15px;
  font-family: Firamono;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  color: #F24FD8;
  filter: blur(1.5px);
  z-index: 4;
  }
  

.FI{
position: absolute;
width: 250px;
height: 62px;
left: 800px;
top: 15px;
background: #0E0E0E;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
border-radius: 8px 0px 0px 8px;
color: #F24FD8;
}

.FS{
position: absolute;
width: 208px;
height: 62px;
left: 1048px;
top: 15px;
background: #F24FD8;
border: 1px solid #F24FD8;
border-radius: 0px 8px 8px 0px;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
color: #0E0E0E ;
font-style: normal;
font-weight: normal;
font-size: 23px;
filter: blur(0.5px);

}

.FS:hover { background: #0E0E0E;
  color: #F24FD8; 
  border: 1px solid #0E0E0E;
  filter: blur(0px);
} 
.FS:active { background: #0E0E0E; 
  color: rgb(255, 255, 255); 
  border: 1px solid #0E0E0E;
}
   


